{% extends 'shop/base.html' %}

{% block body %}
  <div class="row">
    <div class="col-md-7 col-md-offset-4 col-sm-12 col-xs-12" style="margin-top:40px;">
      <h1 class="title" style="color:gold; text-align:left;font-family:blessed;font-size:70px;">About Us</h1>
      <h3 style="color:gold; text-align:justify;font-family:sans-serif;">Myrel Jewellery Shop is an independent family jeweller with over 40 years' experience and expertise in the beautiful world of jewellery. We are passionate about offering the highest quality of service and our wealth of knowledge guarantees you and your precious jewellery will be exceptionally cared for.
</h3>
    
     
    </div>
  </div><br><br><br><br><br><br><br><br><br>

{% endblock %}
